rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() {
      return request.auth != null;
    }

    match /users/{userId} {
      allow read, update, delete: if signedIn() && request.auth.uid == userId;
      allow create: if signedIn() && request.auth.uid == userId;
    }

    match /customers/{customerId} {
      allow read, create, update, delete: if signedIn();
    }

    match /projects/{projectId} {
      allow read, create, update, delete: if signedIn();
    }
  }
}
